<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>

	<key>CFBundleIdentifier</key>
	<string>com.twofront.TFUI</string>

	<key>CFBundleName</key>
	<string>TFUI</string>

	<key>CFBundleDisplayName</key>
	<string>TFUI</string>

	<key>CFBundleExecutable</key>
	<string>index.js</string>
	
</dict>
</plist>
